<%- include('partials/header') -%>
<main class="container flex flex-col items-center justify-center min-h-screen">
    <div class="w-full max-w-md mx-auto p-6 bg-white rounded-lg shadow-md">
        <h1 class="text-3xl font-bold">Welcome Back</h1>
        <span class="text-gray-600 mb-4">Login to your account or Sign up below</span>
        <section class="flex gap-x-4">
            <button><a href="/login" class="rounded px-5 py-2 text-white bg-blue-400 hover:bg-blue-600 transition-colors duration-500"> Login</a></button>
            <button><a href="/signup" class="rounded px-5 py-2 text-white bg-blue-400 hover:bg-blue-600 transition-colors duration-500"> Signup</a></button>
        </section>
    </div>
    <!-- <div class="flex gap-x-4">
        <button><a href="/login" class="rounded px-5 py-2 text-white bg-blue-400 hover:bg-blue-600 transition-colors duration-500"> Login</a></button>
        <button><a href="/signup" class="rounded px-5 py-2 text-white bg-blue-400 hover:bg-blue-600 transition-colors duration-500"> Signup</a></button>
    </div> -->
</main>
<%- include('partials/footer') -%>

