<%- include('partials/header') -%>
<main class="container flex flex-col items-center justify-center min-h-screen">
    <div class="w-full max-w-md mx-auto p-6 bg-white rounded-lg shadow-md">
        <h1 class="flex justify-center text-3xl font-bold pb-4">Welcome Back</h1>
        <span class="flex justify-center text-gray-600 pb-3">Login to your account or Sign up to get started</span>
        <section class="flex justify-center gap-x-4 mt-2 p-3">
            <button><a href="/login" class="rounded px-4 py-2 text-white bg-blue-400 hover:bg-blue-600 transition-colors duration-500"> Login</a></button>
            <button><a href="/signup" class="rounded px-4 py-2 text-white bg-blue-400 hover:bg-blue-600 transition-colors duration-500"> Signup</a></button>
        </section>
    </div>
    <!-- <div class="flex gap-x-4">
        <button><a href="/login" class="rounded px-5 py-2 text-white bg-blue-400 hover:bg-blue-600 transition-colors duration-500"> Login</a></button>
        <button><a href="/signup" class="rounded px-5 py-2 text-white bg-blue-400 hover:bg-blue-600 transition-colors duration-500"> Signup</a></button>
    </div> -->
</main>
<%- include('partials/footer') -%>

